services:
  web:
    build: .
    ports:
      - "5050:5050"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./static:/app/static
      - ./templates:/app/templates
      - ./cert.pem:/app/cert.pem
      - ./key.pem:/app/key.pem
      - ./web_server.py:/app/web_server.py
    command: python -u web_server.py
